@font-face {
    font-family: akira;
    src: url(/assets/fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family: handwriting;
    src: url(/assets/fonts/delight_sunset/Delight\ Sunset.ttf);
}

@font-face {
    font-family: strokef;
    src: url(/assets/fonts/stretch_pro/StretchPro.otf);
}

@font-face {
    font-family: nexa;
    src: url(/assets/fonts/nexa/Nexa-Heavy.ttf);
}

body {

    transition: all 1.5s;
    height: 1500px;
}

.container-fluid {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;


}

.welcome {
    position: relative;
    width: 100%;
    height: 20rem;
    background-image: url("/assets/images/sven-pieren-ibikgDapcp4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(193, 46, 127);
    background: linear-gradient(90deg, rgba(193, 46, 127, 1) 0%, rgba(224, 29, 253, 1) 47%, rgba(136, 69, 252, 1) 100%);
    z-index: 2;
    opacity: 0.5;
    transition: all 1.5s;
}



#textholder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

#opener {
    position: absolute;
    font-family: handwriting;
    font-size: 15vw;
    z-index: 3;
    color: #ffffff;
    transition: all 1.5s;
}

#opener2 {
    position: absolute;
    font-size: 10vw;
    font-family: akira;
    z-index: 3;
    color: white;
    text-align: center;
    white-space: pre-line;
    margin-top: 85px;
    line-height: 30px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition: all 1.5s;
}

#mdbtn {
    display: flex;
    position: absolute;
    left: 2vw;
    height: 30px;
    width: 75px;
    z-index: 4;
    transition: all 1.5s;
}

#task_adder {
    position: absolute;
    bottom: -18px;
    z-index: 4;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.479));

}

#task {
    border-radius: 9px;
    border: none;
    width: 60vw;
    height: 35px;
    outline: none;
    font-family: nexa;
    text-indent: 10px;
    letter-spacing: 1.25px;
    color: rgb(70, 70, 70);
    background-color: white;
    transition: all 1.5s;
}

#subbtn {
    border: none;
    height: 35px;
    background: linear-gradient(43deg, #002aff 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    font-size: 15px;
    font-family: nexa;
    outline: none;
    border-radius: 10px;
    transition: all .5s;
}

#subbtn:hover {
    transform: translateY(-5px);
}



input::placeholder {
    text-align: center;
    font-family: nexa;
}


#tasks {
    padding-left: 20px;
    padding-right: 20px;
}

#taskslistheading {
    background: linear-gradient(90deg, rgba(193, 46, 127, 1) 0%, rgba(224, 29, 253, 1) 47%, rgba(136, 69, 252, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 1px black);
    font-family: strokef;
    text-align: center;
    font-size: 5vw;
    padding-top: 25px;
}

/* lightmode css */
#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1rem;
    transition: .5s;
}

#tasks .task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: nexa;
    width: 100%;
    display: block;
    transition: .5s;
}

#tasks .task .content .text:not(:read-only) {
    color: #e01bd3;
}

.task .actions button {
    font-size: 4vw;
    font-family: nexa;
    transition: .5s;
}

.task .actions button:hover {
    opacity: 0.7;
}

/* Dark mode css */

#tasks .taskdark {
    display: flex;
    justify-content: space-between;
    background-color: rgb(37 39 60);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1rem;
    transition: .5s;
}

#tasks .taskdark .content {
    flex: 1 1 0%;
}

.taskdark .content .text {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: nexa;
    width: 100%;
    display: block;
    transition: .5s;
}

#tasks .task .content .text:not(:read-only) {
    color: #e01bd3;
}

#tasks .taskdark .content .text:not(:read-only) {
    color: #00f2ff;
}

.taskdark .actions button {
    font-size: 4vw;
    font-family: nexa;
    transition: .5s;
}

.taskdark .actions button:hover {
    opacity: 0.7;
}


input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.pinkedit {
    background: linear-gradient(90deg, rgba(193, 46, 127, 1) 0%, rgba(224, 29, 253, 1) 47%, rgba(136, 69, 252, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blackedit {
    background: linear-gradient(108deg, rgba(2, 93, 145, 1) 17.3%, rgba(0, 156, 222, 1) 77.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.actions .delete {
    color: crimson;
}


/* Styling for the modal */
.modal {
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fade-in 0.3s ease forwards;
  }
  
  .modal.fade-out {
    animation: fade-out 0.3s ease forwards;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
  }

  .close{
   cursor:pointer;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  

/* Media Query Section */


@media (max-width:2560px){
    .welcome {
        height: 25rem;
    }

    #opener {
        font-size: 10vw;
    }

    #opener2 {
        font-size: 4vw;
        line-height: 7vh;
        margin-top: 165px;
    }

    #task {
        font-size: 15px;
    }

    #taskslistheading {
        font-size: 3vw;
    }

    #subbtn {
        font-size: 15px;
    }

    #tasks {
        padding-left: 150px;
        padding-right: 150px;
    }

    /* lightmode css */
    .task .content .text {
        color: rgb(255, 255, 255);
        font-size: 1.5vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .task .actions button {
        font-size: 1.5vw;
        font-family: nexa;
    }

    /* dark mode css */
    .taskdark .content .text {
        color: rgb(255, 255, 255);
        font-size: 1.5vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .taskdark .actions button {
        font-size: 1.5vw;
        font-family: nexa;
    }

}
@media (max-width:1440px) {
    .welcome {
        height: 25rem;
    }

    #opener {
        font-size: 10vw;
    }

    #opener2 {
        font-size: 4vw;
        line-height: 7vh;
        margin-top: 165px;
    }

    #task {
        font-size: 15px;
    }

    #taskslistheading {
        font-size: 3vw;
    }

    #subbtn {
        font-size: 15px;
    }

    #tasks {
        padding-left: 150px;
        padding-right: 150px;
    }

    /* lightmode css */
    .task .content .text {
        color: rgb(255, 255, 255);
        font-size: 1.5vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .task .actions button {
        font-size: 1.5vw;
        font-family: nexa;
    }

    /* dark mode css */
    .taskdark .content .text {
        color: rgb(255, 255, 255);
        font-size: 1.5vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .taskdark .actions button {
        font-size: 1.5vw;
        font-family: nexa;
    }
}

@media (max-width:1024px) {
    .welcome {
        height: 25rem;
    }

    #opener {
        font-size: 10vw;
    }

    #opener2 {
        font-size: 4vw;
        line-height: 6vh;
        margin-top: 95px;
    }

    #task {
        font-size: 20px;
    }

    #taskslistheading {
        font-size: 4vw;
    }

    #subbtn {
        font-size: 20px;
    }

    #tasks {
        padding-left: 90px;
        padding-right: 90px;
    }

    /* lightmode css */
    .task .content .text {
        color: rgb(255, 255, 255);
        font-size: 2vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .task .actions button {
        font-size: 2vw;
        font-family: nexa;
    }


    /* dark mode css */

    .taskdark .content .text {
        color: rgb(255, 255, 255);
        font-size: 2vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .taskdark .actions button {
        font-size: 2vw;
        font-family: nexa;
    }
}


@media (max-width: 768px) {
    .welcome {
        height: 25rem;
    }

    #opener {
        font-size: 10vw;
    }

    #opener2 {
        font-size: 6vw;
        line-height: 6.5vh;
        margin-top: 95px;
    }

    #task {
        font-size: 25px;
    }

    #taskslistheading {
        font-size: 6vw;
    }

    #subbtn {
        font-size: 20px;
    }

    #tasks {
        padding-left: 90px;
        padding-right: 90px;
    }

    /* lightmode css */
    .task .content .text {
        color: rgb(255, 255, 255);
        font-size: 3vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .task .actions button {
        font-size: 3vw;
        font-family: nexa;
        transition: .5s;
    }


    /* dark mode css */

    .taskdark .content .text {
        color: rgb(255, 255, 255);
        font-size: 3vw;
        font-family: nexa;
        width: 100%;
        display: block;
        transition: .5s;
    }

    .taskdark .actions button {
        font-size: 3vw;
        font-family: nexa;
        transition: .5s;
    }




}

@media (max-width: 440px) {
    .welcome {
        height: 18rem;
    }

    #opener {
        font-size: 15vw;
    }

    #opener2 {
        font-size: 10vw;
        line-height: 5.5vh;
    }

    #task {
        font-size: 15px;
    }

    #taskslistheading {
        font-size: 7vw;
    }

    #subbtn {
        font-size: 12px;
    }

    #tasks {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* lightmode css */

    .task .content .text {
        font-size: 4vw;
    }

    .task .actions button {
        font-size: 4vw;

    }


    /* dark mode css */
    .taskdark .content .text {
        font-size: 4vw;
    }

    .taskdark .actions button {
        font-size: 4vw;

    }




}